<html xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>

<div id="app">
    <div th:insert="fragments/navbar :: navbar"></div>

<div class="tasklists">

    <b-card v-for="tasklist in tasklists" align="center">
        <b-card-title @click="toggleEdit()">
            {{ tasklist.taskListName }}
        </b-card-title>

        <b-card-text>
            <br/>
            Here you will find overview details of the tasklist like total time and total cost, time so far and cost so far.

            {{ tasklist.taskListDescription }}

        </b-card-text>
        <b-card-text>
            Users:<br/>
            <li v-for="user in tasklist.users" >
                {{ user.username }}
            </li>

            <a :href="'/tasklist/' + tasklist.id">Go to tasklist {{ tasklist.id }}</a>
        </b-card-text>
        <span slot="footer">
            <b-button @click="deleteTaskList(tasklist)">Delete this list</b-button>
            <!--<b-button>Invite users</b-button>-->
            <!--<b-button>Details</b-button>-->
        </span>

    </b-card>
</div>
    <div>
        <b-button v-b-modal.modal2>Create a new TaskList</b-button>
        <b-modal
        id="modal2"
        ref="modal"
        title="Create a new tasklist:"
        @ok="handleOk"
        @shown="clear"
        >
            <form @submit.stop.prevent="handleSubmit">
                <b-form-input type="text" placeholder="Enter tasklist name" v-model="newTaskListName" />
                <b-form-input type="text" placeholder="Enter tasklist description" v-model="newTaskListDescription" />
            </form>
        </b-modal>
    </div>

</div> <!-- End of root app -->

</body>


<script th:inline="javascript">
    var th_username = [[${user.getUsername()}]];
</script>

<script src="/js/dashboard.js"></script>
</html>